{% extends 'login.base.html' %}
{% load staticfiles %}


{% block head %}

{% endblock head %}

{% block body %}
<section id="banner">
    <div class="login-page">
        <h2 class="center">BLUE COLLAR BI</h2>
        <div class="form">
          <form class="login-form" method="post" action="{% url 'signup' %}" role="form">

            {% csrf_token %}

            {% for field in form.visible_fields %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
              {{ field }}
              {% if field.help_text %}
                <span class="help-block">{{ field.help_text|safe }}</span>
              {% endif %}
              {% for error in field.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
            </div>
            {% endfor %}
            <button class="button special" type="submit">Create Account</button>
            <p class="message">Already registered? <a href="/login">Login to your account</a></p>
          </form>
        </div>
      </div>
</section>

{% endblock body %}
