
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "bluecollarbi.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "bluecollarbi/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"

packages:
  yum:
    postgresql95-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true

  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

  03_uninstall_pil:
    command: "source /opt/python/run/venv/bin/activate && yes | pip uninstall Pillow"

  04_reinstall_pil:
    command: "source /opt/python/run/venv/bin/activate && yes | pip install Pillow --no-cache-dir"

