.centerElement {
     width: 100%;
     display: block;    
     text-align: center;
}

.redText {
    color: #e44c65;
}

.blueHighlight {
    color: #5480f1 !important;
}

.whiteTextFA {
    color: white;
    font-size: 2em !important;
    
}