{% extends 'home.base.html' %}
{% load staticfiles %}




{% block head %}
<link href="{% static 'css/data.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}BlueCollarBI | Submit Report{% endblock %}

{% block body %}

<!-- Main -->
<article id="main">
    <header>
        <h2>Your Forms</h2>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <div class="row">
                <div class="6u 12u$(medium)">
                    <a href="/data/barrierPostPour" class="button fit">UDOT Precast Concrete Daily Inspection Report</a>
                </div>
                <div class="6u 12u$(medium)">
                    <a href="/data/UDOTPrecastReport" class="button fit">Barrier Post Pour Form</a>
                </div>
            </div>  
        </div>                
    </section>
</article>


{% endblock body %}