{% extends 'home.base.html' %}
{% load staticfiles %}


{% block head %}

{% endblock head %}

{% block body %}
<div class="container">
	<div class="box alt">
		<h2>Dashboard</h2>
		<div class="row uniform">
			<div class="3u 6u(medium) 12u$(xsmall)">
				<p>Dashboard space 1</p>
			</div>
			<div class="3u 6u(medium) 12u$(xsmall)">
				<p>Dashboard space 2</p>
			</div>
			<div class="3u 6u(medium) 12u$(xsmall)">
				<p>Dashboard space 3</p>
			</div>
			<div class="3u 6u(medium) 12u$(xsmall)">
				<p>Dashboard space 4</p>
			</div>
		</div>
		<div class="row uniform">
			<div class="3u 6u(medium) 12u$(xsmall)">
				<p>Dashboard space 1 row 2</p>
			</div>
			<div class="3u 6u(medium) 12u$(xsmall)">
				<p>Dashboard space 2 row 2</p>
			</div>
			<div class="3u 6u(medium) 12u$(xsmall)">
				<p>Dashboard space 3 row 2</p>
			</div>
			<div class="3u 6u(medium) 12u$(xsmall)">
				<p>Dashboard space 4 row 2</p>
			</div>
		</div>
	</div>
</div>
{% endblock body %}