{% extends 'home.base.html' %}
{% load staticfiles %}




{% block head %}
<link href="{% static 'css/data.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}BlueCollarBI | Submit UDOT Daily Inspection{% endblock %}

{% block body %}

<!-- Main -->
<article id="main">
    <header>
        <h2>UDOT Precast Concrete Daily Inspection Report</h2>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <form method="post" action="#">
                <div class="row uniform">
                    <div class="6u 12u$(xsmall)">
                        <label>Precast Yard</label>
                        <input type="text" name="demo-name" id="demo-name" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Inspector Name</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="4u 12u$(xsmall)">
                        <label>Date</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="4u 12u$(xsmall)">
                        <label>Time In</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="4u$ 12u$(xsmall)">
                        <label>Time Out</label>
                        <input type="email" name="demo-email" id="demo-email" value=""  />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Page Number</label>
                        <input type="email" name="demo-email" id="demo-email" value=""  />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Travel Time (min)</label>
                        <input type="email" name="demo-email" id="demo-email" value=""  />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Air Meter Correlation QA</label>
                        <input type="email" name="demo-email" id="demo-email" value=""  />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Vs QC</label>
                        <input type="email" name="demo-email" id="demo-email" value=""  />
                    </div>

                    <div class="12u$">
                        <hr />
                        <h2>PRE-POUR INSPECTION</h2>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Product Description</label>
                        <input type="text" name="demo-name" id="demo-name" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Piece #</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Quantity</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Project Name / #</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Drawing #</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Stamp Date</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Pre-pour completed QC Signature</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>UDOT (QA) inspector assessment</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>

                    <div class="12u$">
                        <hr />
                        <h2>CONCRETE QUALITY ASSESSMENT</h2>
                    </div>


                    <div class="6u 12u$(xsmall)">
                        <label># of Loads Rejected </label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Retested</label>
                        <input type="email" name="demo-email" id="demo-email" value=""  />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Of Number of Observed Tests</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Supplier</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Mix ID #</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Quantity (cu/yd)</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Slump / Spread</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Ambient Air Temp</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Cyl?</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Air Content %</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Placement Time (min)</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>VSI</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>U/W</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <label>Concrete Temp</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Batch Weights & Water Cement Ratio</label>
                        <input type="email" name="demo-email" id="demo-email" value="" />
                    </div>








                    <div class="12u$">
                        <hr />
                        
                    </div>
                    <!-- Submit -->
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="Submit Report" class="special" /></li>
                            <li><input type="reset" value="Reset Report" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>  
    </section>
</article>


{% endblock body %}