{% extends 'login.base.html' %}
{% load staticfiles %}


{% block head %}

{% endblock head %}

{% block body %}
<section id="banner">

    <div class="login-page">
        <h2 class="center">BLUE COLLAR BI</h2>
        <div class="form">
          <form class="login-form" method="post" action="{% url 'login' %}" role="form">
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <label>
                  {{ error }}
                </label>
              {% endfor %}
            {% endif %}

            {% csrf_token %}
            <div class="form-group{% if form.username.errors %} has-error{% endif %}">
              <input type="text" placeholder="username" class="form-control formSpacing" id="username" name="username">
              {% for error in form.username.errors %}
                <label>{{ error }}</label>
              {% endfor %}
            </div>
            <div class="form-group{% if form.password.errors %} has-error{% endif %}">
              <input type="password" placeholder="password" class="form-control formSpacing" id="password" name="password">
              {% for error in form.password.errors %}
                <label>{{ error }}</label>
              {% endfor %}
            </div>
            <button class="button special" type="submit">login</button>
            <p class="message">Not registered? <a href="/signup">Create an account</a></p>
          </form>
        </div>
      </div>
</section>

{% endblock body %}
