{% extends 'home.base.html' %}
{% load staticfiles %}
{% load i18n %}



{% block head %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}bluecollarbi | Automation{% endblock %}

{% block body %}

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Automation</h2>
            <p>Programatically Automating Tasks for Efficiency and Accuracy</p>
        </header>

        <!-- Content -->
            <section id="content">
                <a href="#" class="image fit"><img src="{% static 'img/engine.png' %}" alt="" /></a>
                <h3 class="centerElement">Make your work life easier</h3>
                <p>Technology can greatly increase efficiency and accuracy through basic automation. Python, Powershell, and VBA can be used to automate basic tasks and to greatly decrease the time these tasks take. More importantly, through automation, jobs requiring data entry or data manipulation can exponentially increase their accuracy as well.</p>

            </section>

    </div>
</div>





{% endblock body %}