{% extends 'home.base.html' %}
{% load staticfiles %}
{% load i18n %}



{% block head %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}bluecollarbi | Predictive Analytics{% endblock %}

{% block body %}

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Predictive Analytics</h2>
            <p>Using Machine Learning and Predictive Analytics to Make Better Decisions</p>
        </header>

        <!-- Content -->
            <section id="content">
                <a href="#" class="image fit"><img src="{% static 'img/forest.png' %}" alt="" /></a>
                <h3 class="centerElement">Exchange Hack</h3>
                <p>Exchange hack is all about using social media to predict stock prices of a company. We used Google to find the sentiment of a tweet and then ran that through Azure Machine Learning Studio to predict how that tweet would affect the stock price of that company.</p>
                <p class="centerElement">
                    <a href="https://exchangehack.herokuapp.com/analysis/index/" class="button">View Exchange Hack</a>
                </p>  
                <h3 class="centerElement">Mountain West Construction Group</h3>
                <p>Mountain West Construction Group has a concrete batch plant where they create and sell precast concrete to UDOT. Precast concrete must maintain a certain strength and reach specific measures before being poured into the precast molds and be tested after the molds have set. I was tasked to maximize the strength of the concrete by looking at the basic predictors and running predictive algorithms.</p>
                <p>I used Python and interfaced with Azure Machine Learning Studio to perform the algorithms and then sent the results to a Python Django site to display the results.</p>

            </section>

    </div>
</div>





{% endblock body %}