{% extends 'home.base.html' %}
{% load staticfiles %}
{% load i18n %}



{% block head %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}bluecollarbi | Web Dev{% endblock %}

{% block body %}

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Web Development</h2>
            <p>Web Development in Python Django, ASP.NET, or Wordpress CMS</p>
        </header>

        <!-- Content -->
            <section id="content">
                <a class="image fit"><img src="{% static 'img/code.png' %}" alt="" /></a>
                <h3 class="centerElement">San Juan Health District</h3>
                <p>San Juan Health Service District is a small hospital and two clinics that were in need of a new website to help show a more professional presence to locals and visitors of southeastern Utah.</p>
                <p>I implemented a new website, leveraging WordPress and front-end web languages to transform a 30+ page site to what it is today, including online job form and other online form submissions from the previous paper or fax alternatives.</p>
                <p class="centerElement">
                    <a href="https://sjhsd.org/" class="button">View San Juan Health District</a>
                </p>
                
                <br>
                <h3 class="centerElement">BYU AIS</h3>
                <p>The BYU AIS club previously had a Python Django implementation but because the site didn’t need to have any business logic, I decided to simplify the site to a Wordpress implementation. Through using the CMS and basic HTML, CSS, and JS, I was able to make the site more simple to manage, especially for quick edits, as the owner of the site is constantly changing.</p>
                <p class="centerElement">
                    <a href="http://ais.byu.edu/" class="button">View BYU AIS</a>
                </p>
                <br>
            </section>

    </div>
</div>





{% endblock body %}